.analyte-input {
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  color: #272821;
  padding-left: 10px;
  border: none;
  width: calc(100% - 210px);
  background: rgba(0,0,0,0.05);
}
.analyte {
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.analyte.result:hover {
  background: rgba(0,0,0,0.05);
  cursor: pointer;
}